---
import { getEntry, render } from "astro:content";
import { getCollection } from "astro:content";
const { slug } = Astro.params;
const Content = await getMarkdownContent(slug);

export async function getMarkdownContent(slug: string) {
  const post = await getEntry("blog", slug);
  return (await render(post!)).Content;
}
export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => {
    return {
      params: { slug: post.id },
    };
  });
}
---

<html lang="en">
  <body>
    <main class="container mx-auto px-4 py-8">
      <Content />
    </main>
  </body>
</html>
