---
import { Image } from "astro:assets";
import Footer from "~/components/footer-custom.astro";
import Header from "~/components/top-header.astro";
import halloween from "~/assets/event/halloween.jpg";
import halloween2 from "~/assets/event/halloween2.jpg";
import newyear from "~/assets/event/newyear.jpg";
import newyear2 from "~/assets/event/newyear2.jpg";
import reward from "~/assets/event/reward.jpg";
import reward2 from "~/assets/event/reward2.jpg";
import "~/styles/index.css";

interface EventDetail {
  name: string;
  detail: string;
  facebookLink: string;
  image: ImageMetadata[];
}

const dataEvents: EventDetail[] = [
  {
    detail: "เเจกหนักเเจกจริง",
    name: "รางวัลโปรเจคดีเด่น 10x Project 2025",
    facebookLink:
      "https://www.facebook.com/10xpluscommunity/posts/pfbid02w7y8EMArbL7WVxjipsAXKL9Qk8s8byEWEqqSNLYAHyM9EJWi9SCsJzodUGLuE1el",
    image: [reward, reward2],
  },
  {
    detail: "เเจกหนักเเจกจริง",
    name: "กิจกรรมวันปีใหม่ 2025",
    facebookLink:
      "https://www.facebook.com/10xpluscommunity/posts/pfbid0K8SHC9BdvUM72eg4ftJKZ8j2F6toa8zbxN7Po6ebNALbbUBdY1VkBxSn9LzYxqiWl",
    image: [newyear, newyear2],
  },
  {
    detail: "เเจกหนักเเจกจริง",
    name: "กิจกรรมวันคริสมาสต์ 2025",
    facebookLink:
      "https://www.facebook.com/10xpluscommunity/posts/pfbid02sRcBb5VstJ5xxvZJeQ2effGPXyhnEAJ5RWF56nozCN2MjrRU1okSuqugsVU4rx94l",
    image: [reward],
  },
  {
    detail: "เเจกหนักเเจกจริง",
    name: "กิจกรรมวันฮาโลวีน 2025",
    facebookLink:
      "https://www.facebook.com/10xpluscommunity/posts/pfbid02E92ej5sp9fM6B697dbYDr7LRzR78BYEVcPtbows99RTYbgafZ24RiChpC3GSFFKPl",
    image: [halloween, halloween2],
  },
];
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo_10x.png" type="image/png" />

    <title>บริษัท 10x Plus | กิจกรรม</title>
    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        const fbPosts = document.querySelectorAll(".fb-post");

        const loadFacebookSDK = () => {
          if (window.FB) return;
          const script = document.createElement("script");
          script.async = true;
          script.defer = true;
          script.src =
            "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2";
          document.body.appendChild(script);
        };

        const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              loadFacebookSDK();
              observer.disconnect();
            }
          });
        });

        fbPosts.forEach((post) => observer.observe(post));
      });
    </script>
  </head>
  <body
    class="overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header class="" />
    <div class="flex h-full flex-col py-12">
      <div class="mx-8 flex flex-col  pt-[3rem] sm:pt-[2rem] gap-4">
        <div>
          <h1 class="font-bold text-xl sm:text-2xl">
            กิจกรรมดีๆใน <span class="text-primary">10x Plus</span>
          </h1>
        </div>
        <div class="flex flex-wrap justify-center gap-6 ">
          {
            dataEvents.map((x) => {
              return (
                <section class="rounded-md border bg-white p-4 text-black shadow-lg flex flex-col gap-4  ">
                  <h2 class="text-xl font-bold">{x.name}</h2>
                  <div class="flex flex-col gap-4 ">
                    {x.image.map((y) => {
                      return (
                        <Image
                          class="h-[150] w-[700px] object-cover"
                          src={y}
                          alt={""}
                        />
                      );
                    })}
                  </div>
                  <div class="my-4 flex flex-col gap-4 ">
                    <div>
                    ดูเพิ่มตามได้ที่โพสต์ด้านล่าง !!
                    </div>
                    <div class="flex justify-center">

                    <script
                      async
                      defer
                      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"
                      />
                    <div
                      class="fb-post"
                      data-href={x.facebookLink}
                      />
                      </div>
                  </div>
                </section>
              );
            })
          }
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
