---
import BaseHead from "@/components/BaseHead.astro";
import { siteConfig } from "@/site.config";

---
<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={""} description={""} ogImage={""} title={"atip nasakun"} />
	</head>
	<body
		class="flex min-h-screen max-w flex-col bg-bgColor py-4 font-mono text-sm font-normal text-textColor antialiased "
	>
	<nav class="px-4">
aspkdp
	</nav>
	<hr>
	<main class="px-4">
		aspdasd
	</main>
	</body>
</html>
