---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";
const dataWebsite = [
  {
    name:'ASTON',
    link:'https://www.aston1.com/'
  },
  {
    name:'AXON',
    link:'https://www.axonthailand.com/'
  },
  {
    name:'DENGO',
    link:'https://www.dengothailand.com/'
  }
]

---

<ContentSection title="Our WebSites" id="compatibility">
  <Fragment slot="lead">
    <span class="text-primary">10x Plus</span>.Has many Brand For Example
  </Fragment>
  <div>
    {dataWebsite.map(x=>{
      return(
        <div>
          <div>
{x.name}
          </div>
          <iframe src={x.link} frameborder="0" ></iframe>
        </div>
      )
    })}
  </div>

</ContentSection>
