---
import { Image } from "astro:assets";
import map from "~/assets/map.jpg";
---

<div class="h-full w-full">
  <div>ติดต่อ</div>
  <h1>Human Resource 10X Plus Co., Ltd. (บริษัท สิบเอ็กซ์ พลัส จำกัด)</h1>
  <h2>
    เลขที่ 2 ถนน ซอย ประชาราษฎร์ 4/1 ตำบลตลาดขวัญ อำเภอเมืองนนทบุรี
    จังหวัดนนทบุรี 11000
  </h2>
  <ul>
    <li>
      โทรศัพท์
      <ul>
        <li>098-284-3183</li>
      </ul>
    </li>
    <li>
      เว็บไซต์ :
      <ul>
        <li>https://www.facebook.com/10X-Plus-Community</li>
        <li>https://www.aston1.com/</li>
      </ul>
    </li>
  </ul>
</div>
