---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";

const features = [
  {
    title: "Dengo",
    description:
      "แบรนด์ Dengo ",
    icon: "DG",
    color:'blue'

  },
  {
    title: "Aston",
    description:
      "แบรนด์ Aston",
    icon: "AT",
    color:'red'

  },
  {
    title: "Axon",
    description:
      "แบรนด์ Axon",
    icon: "AX",
    color:'orange'
  },
  
];
---

<ContentSection title="Subsidiary brand" id="features">
  <Fragment slot="lead">
   10x Plus ของเรามีเเบรนด์ย่อยหลากหลายเเบรนด์ที่เราดูเเลอยู่ เช่น
  </Fragment>
  <ul class="grid max-w-6xl min-w-[400px] grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon,color }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6 ">
          <div class="size-16 rounded-full border-2 border-current p-3 flex justify-center items-center">
            <span class={`text-[${color}] font-extrabold`}>
            {icon}
            </span>
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
