---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import CoreValue from '~/components/cultureCoreValue.astro'
---

<ContentSection title="10x Plus GroupHolding" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="size-32" /> -->
  <Fragment slot="lead">
    10x Plus Group is a great 
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
     บริษัท 10X Plus บริษัทที่เริ่มต้นจากการเป็น Start-Up
    ที่มีพนักงานเพียง 10 กว่าคน พวกเราเติบโตขึ้น 10 เท่าทุกปี
    (ซึ่งเป็นที่มาของชื่อบริษัท) จนกลายเป็นบริษัทที่มีพนักงานมากกว่า 100 คน
    ธุรกิจของพวกเราคือการจัดจำหน่ายสินค้าประเภท IT ผ่านช่องทาง Online ทุกช่องทาง
    ภายใต้วิสัยทัศน์ที่มุ่งสู่ความเป็นที่ 1 ในทุกสายงาน 
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <CoreValue/>
  </div>
</ContentSection>
