---
import { Image } from 'astro:assets'
import map from '~/assets/map.jpg'
---
<div class="h-full w-full">
    <div>
        <h1 class="font-extrabold text-xl">วิธีการเดินทาง</h1>
        <hr>
        <div class="my-4">

            
            <ul>
                <li>
                   - รถไฟฟ้าสายสีม่วง  ลงสถานีกระทรวงสาธารณสุข แล้วนั่งวินมอเตอร์ไซค์ รถสองแถวหรือรถเมล์ต่อมายังบริษัท
                </li>
                <li>
                  -  สายรถเมล์ที่ผ่าน: 30,32,33,63,65,90,97,114,365,367,545 หรือ 18 ลง
                    Big C ติวานนท์ หรือโรงเรียนวัดลานนาบุญ แล้วเดินมายังบริษัท
                    นั่งรถสองแถวหรือนั่งวินมอเตอร์ไซค์มายังบริษัท
                </li>
                <li>
                 -   เดินทางโดยรถยนต์ส่วนตัว บริษัทมีลานจอดรถให้ บริษัทอยู่ในซอยประชาราษฏร์ 4/1
                </li>
                <li>
                   - (ซอยข้างร้านกาแฟพันธุ์ไทย) เดินเข้ามาในซอยประมาณ 200 เมตร บริษัทอยู่ด้านขวามือ   กำแพงสีขาว ประตูรั้วสีดำ
                </li>
            </ul>
        </div>
    </div>
    <Image src={map} class='w-full' alt="">

</div>