---
import { Image } from 'astro:assets'
import map from '~/assets/map.jpg'
---
<div class="h-full w-full">
    <iframe class="w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1936.9541679011495!2d100.5075531!3d13.844540499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29b20ff39ffbf%3A0xf7c99b1df433904e!2s10X%20Plus%20Co.Ltd.!5e0!3m2!1sth!2sth!4v1738915656919!5m2!1sth!2sth"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div>
        <h1>วิธีการเดินทาง</h1>
        <ul>
            <li>
                รถไฟฟ้าสายสีม่วง  ลงสถานีกระทรวงสาธารณสุข แล้วนั่งวินมอเตอร์ไซค์ รถสองแถวหรือรถเมล์ต่อมายังบริษัท
            </li>
            <li>
                สายรถเมล์ที่ผ่าน: 30,32,33,63,65,90,97,114,365,367,545 หรือ 18 ลง
                Big C ติวานนท์ หรือโรงเรียนวัดลานนาบุญ แล้วเดินมายังบริษัท
                นั่งรถสองแถวหรือนั่งวินมอเตอร์ไซค์มายังบริษัท
            </li>
            <li>
                เดินทางโดยรถยนต์ส่วนตัว บริษัทมีลานจอดรถให้ บริษัทอยู่ในซอยประชาราษฏร์ 4/1
                </li>
            <li>
                (ซอยข้างร้านกาแฟพันธุ์ไทย) เดินเข้ามาในซอยประมาณ 200 เมตร บริษัทอยู่ด้านขวามือ   กำแพงสีขาว ประตูรั้วสีดำ
                </li>
        </ul>
    </div>
    <Image src={map} class='w-full' alt="">

</div>