---
import { Image } from "astro:assets";
import astronautImage from "~/assets/astronaut.png";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
  </div>
    <h2
      class="absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2"
    >
    <div class="text-sm/10 font-extralight">
      WE ARE THE
    </div> 
      <div
        class="bg-gradient-to-t from-white via-red-700 to-red-700 bg-clip-text text-transparent text-center font-extrabold tracking-tighter text-4xl md:text-8xl"
      >
      NUMBER 1
      <br/>
      RIGHT MAN
      <br />
      MOVE FAST & BE BOLD
        <br/>
      </div>
    </h2>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
